.header {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  box-sizing: border-box;
}
.svg-basket,
.svg-star {
  position: absolute;
  right: 30px;
  top: 10px;
}
.svg-star {
  right: 20px;
  width: 60px;
  height: 60px;
  right: 100px;
}
.card-quantity,
.card-quantity-favorites {
  position: absolute;
  right: 50px;
  top: 3px;

  text-transform: uppercase;
  font-size: 24px;
  &-favorites {
    right: 120px;
  }
}
.logo {
  width: 300px;
}
.empty-string {
  text-align: center;
  position: absolute;
  top: 50px;
  right: 35%;
}
.btn-order {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.button_order {
  padding: 15px 35px;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px grey;
}
