.dashboard__header {
  display: flex;
  padding-top: 24px;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: rgb(102, 77, 64);
  margin-bottom: 40px;
  .btn-back {
    display: block;
    cursor: pointer;
    margin-right: 16px;

    svg {
      width: 32px;
      height: 25px;
    }
  }
}
