.container {
  max-width: 1200px;
  margin: 10px auto;
  position: relative;
  min-height: 100vh;
}
.card-list {
  height: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  background-color: beige;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  position: relative;

  &-header {
    position: relative;
  }
  &-img {
    width: 100%;
    object-fit: cover;
  }
  &-article {
    position: absolute;
    bottom: 0;
    right: 3%;
  }
  &-favorites {
    width: 30px;
    height: 30px;
    text-align: right;
    position: absolute;
    z-index: 10;
    right: 10px;
  }
}
.delete-card {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  right: 5px;
  bottom: 5px;
}
.display-format {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-bottom: 20px;
}
.type-list {
  display: flex;
  flex-direction: column;
  .card {
    justify-content: center;
    border: 1px solid rgb(102, 77, 64);
    &-img {
      height: 250px;
      object-fit: cover;
    }

    .card-body {
      display: grid;
      grid-template-columns: 20% 40% 20%;
      gap: 30px;
      font-size: 35px;
    }
    .card-article {
      right: 0px;
      font-size: 20px;
    }
  }
  .button {
    font-size: 25px;
  }
}
