.button {
  border: 1px solid rgb(103, 72, 112);
  border-radius: 15px;
  padding: 3px 10px;
  text-align: center;
  margin-right: 20px;
  font-size: large;
  &-container {
    left: 35%;
  }
}
.section {
  position: relative;
}
