.header {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  box-sizing: border-box;
}
.svg-basket,
.svg-star {
  position: absolute;
  right: 30px;
  top: 10px;
}
.svg-star {
  right: 20px;
  width: 60px;
  height: 60px;
  right: 100px;
}
.card-quantity,
.card-quantity-favorites {
  position: absolute;
  right: 50px;
  top: 3px;

  text-transform: uppercase;
  font-size: 24px;
  &-favorites {
    right: 120px;
  }
}
.logo {
  width: 300px;
}
