.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(102, 77, 64);
  opacity: 0.7;
  min-height: 64px;
  width: 100%;

  .copywriting {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
}
