.button {
  border-color: rgb(103, 72, 112);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin-right: 20px;
  font-size: large;
  &-container {
    position: absolute;
    left: 35%;
    top: 330px;
  }
}
.section {
  position: relative;
}
