.form-wrapper {
  text-align: center;
  padding: 20px;
  border-top: 2px solid #4f595c;
  box-sizing: border-box;
  width: 500px;
  margin: auto;
}
.form-wrapper input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(125, 110, 96);
}
.form-wrapper p {
  text-align: left;
  margin-left: 20px;
}
.error-massage {
  color: red;
}
.form-label {
  color: rgb(102, 77, 64);
  font-weight: bold;
}
