.modal {
  background-color: rgba(114, 120, 121, 0.1);
  padding: 30px;
  text-align: center;
  position: fixed;
  height: 100vw;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;

  &-content {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: #dbeba2;
    padding: 30px;
    position: relative;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.logo-modal {
  width: 120px;
}
