body {
  background-color: rgb(199, 239, 255);
}

.modal {
  background-color: rgba(114, 120, 121, 0.7);
  padding: 30px;
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: #dbeba2;
    padding: 30px;
    position: relative;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}
