.container {
  max-width: 1200px;
  margin: 10px auto;
  position: relative;
}
.card-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  background-color: beige;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  position: relative;

  &-header {
    position: relative;
  }
  &-img {
    width: 100%;
    object-fit: cover;
  }
  &-article {
    position: absolute;
    bottom: 0;
    right: 3%;
  }
  &-favorites {
    width: 30px;
    height: 30px;
    text-align: right;
    position: absolute;
    z-index: 10;
    right: 10px;
  }
}
